body{
   
    background-color: #a55c1b;
    background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);

}

.flex-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.button-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 

.button-container button {
    
    padding: 2%;
    margin : 20%;
    width: 200px;
    height : 50px;
    background-color: 	#8B4513;
    border-color: 	#A0522D;
    border-radius: 20px;
    color: rgb(235, 240, 211);

}

