body{
   
    background-color: #a55c1b;
    background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);

}

.flex-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.button-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 

.button-container button {
    
    padding: 2%;
    margin : 20%;
    width: 200px;
    height : 50px;
    background-color: 	#8B4513;
    border-color: 	#A0522D;
    border-radius: 20px;
    color: rgb(235, 240, 211);

}

.button-container .center{
    
    display: flex;
    flex-direction: row;
    padding: auto;
    margin : 20% ;
    height : 45px;
    background-color: #d4742e;
    text-align: center;
    border-radius: 20px;
    color:rgb(235, 240, 211);

}

.button-container .center #pantry{
   
    width: 100px;

}

.button-container .center button{
    
    width: 50px;
    height: 40px;
    margin-top: 2px;
}