body {
    font-family: sans-serif;
}

.start-instruction {
    width: 40%;
    max-height: 500px;
    margin: 50px auto;
    text-align: center;
    background: #d6d5d588;
    border-radius: 10%;
    padding: 30px;
    box-shadow: 5px 5px 10px #888888;
}

.enemy-img {
    display: none;
}

.heading,
h2 {
    margin-bottom: 15px;
}

.start-instruction h1,
p {
    line-height: 20px;
}

.start {
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    background: #e7c83c;
    width: 200px;
    height: auto;
    font-size: 30px;
    color: white;
    user-select: none;
    padding: 10px 12px;
    transition: 0.3s;
    border-radius: 15px;
}

.start:hover {
    width: 250px;
}

canvas {
    min-width: 35%;
    margin: 10px auto;
    position: relative;
    display: none;
}


.score {
    position: absolute;
    margin: 10px;
    right: 20px;
    top: 10px;
    font-size: 25px;
    font-weight: 700;
    display: none;
}

.game-over {
    width: 40%;
    max-height: 500px;
    margin: 50px auto;
    text-align: center;
    background: #d6d5d588;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px #888888;
    display: none;
}

.game-over h1,
h2,
h3 {
    line-height: 25px;
}